doctype html
html
  head
    title= `${title}`
    link(rel="stylesheet", href="/dist/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #container
      #container-left
        .left
          .left-text
            p.logo PaperTrail
            .caption
              h2 Wonder where all your money went?
              p Take advantage of PaperTrails' clear visualisations and identify areas of spending where savings can be made.
      #container-right
        .right
          
