doctype html
html
  head
    title= `${title}`
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:100|Open+Sans+Condensed:300|Sirin+Stencil")
    link(rel="stylesheet", href="/dist/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #container
      #container-left
        .left
          .left-text
            p.logo PaperTrail
            .caption
              h2 Wonder where all your money went?
              p Take advantage of PaperTrails' clear visualisations and identify areas of spending where savings can be made.
      #container-right
        .right
          .right-text
            h3 Get started
            form(method="POST" action="/api/login")
              input(type="text" required placeholder="Firstname")
              br
              input(type="text" required placeholder="Email Address")
              br
              input(type="password" placeholder="Password" required)
              br
              button(type="submit" class="submit") Register
            p Already have an account? #[br] Click #[u here] to login.
          
