#container {
  height: 100vh;
  display: flex;
}
#container-left {
  display: flex;
  flex-direction: row-reverse;
  width: 65%;
  background-color: #ddd;
  .left {
    background-color: #001;
    width: 66%;
    margin-top: auto;
    margin-bottom: auto;
    height: 75%;
  }
}
#container-right {
  display: flex;
  width: 35%;
  background-color: #e33;
  .right {
    background-color: #f43;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    height: 75%;
  }
}
