#container {
  height: 100vh;
  display: flex;
  color: #fff;
}
#container-left {
  display: flex;
  flex-direction: row-reverse;
  width: 65%;
  background-color: #ddd;
  .left {
    background-color: #001;
    width: 66%;
    margin-top: auto;
    margin-bottom: auto;
    height: 85%;
  }
  .left-text {
    margin-left: 10%;
    margin-right: 20%;
  }
  .caption {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    h2 {
      margin-bottom: 0px;
      margin-top: 35%;
      font-size: 2em;
    }
    p {
      margin-top: 5px;
    }
  }
}
#container-right {
  display: flex;
  width: 35%;
  background-color: #e33;
  .right {
    background-color: #f43;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    height: 85%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .right-text h3 {
      font-size: 1.5em;
    }

    .right-text input {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
    }

    .submit {
      margin-top: 10px;
      padding: 10px;
      border: none;
      color: #fff;
      background-color: #001;
    }
  }
}
.logo {
  font-family: 'Sirin Stencil', cursive;
  margin-top: 20%;
}
